{% load static %}
{% block css_files %}
    <link rel="stylesheet" href="{% static "basic_app/navbar.css"%}">
{% endblock  %}

<header>
    <ul id="myTopnav" class="nav"><span id="logo"><a href="#" onclick="myFunction()"><i class="fa fa-ellipsis-h"></i></a></span>
        <li><a href="#">  Get Started</a></li>
        <li><a href="#">Hello, </a></li>
        <li><a href="#">View Dashboard</a></li>
        <li><a href="#">Logout</a></li>
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Sign In</a></li>
      </div>  
    </ul>
</header> 

