
{% extends 'cfgtemp/loginbase.html' %}
{% load static %}
{% block title %}
Login-Signup
{% endblock  %}

{% block css_files %}
<link rel="stylesheet" href="{% static "cfgtemp/loginSignup.css"%}">
{% endblock  %}

{% block content %}
<div class="container">
    <div class="head  p-2 mb-4 w-100">
        <div class="btn register mb-4">SignUp</div> 
        <div class=" btn login mb-4" >Login</div>
        
    </div>
    <div class="content"><!--login form-->
        <form class="form form-hidden mb-3" id="login">
            <h1 class="form-title mb-2">Login</h1>
            
            <div class="form-msg form-msg-err"></div>
            
            
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" autofocus>
                <label for="email">Email</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="pwd">
                <label for="pwd">Password</label>
                <div class="form_input-err-msg"></div>
            </div>
            <button class="btn" type="submit">Continue</button>
            <p class="form-text">
                <a href="#" class="form-link">Forgot password</a>
            </p>
            <p class="form-text">
                <a class="form-link" href="#" id="linkCreateAccount">Dont have an account? Create an account</a>
            </p>

        </form>

        <!--registerform-->
        <form class="form" id="register">
            <h1 class="form-title mb-3">Register</h1>
            <div class="form-msg form-msg-err"></div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control " id="username" autofocus>
                <label for="username">Username</label>
                <div class="form_input-err-msg"></div>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email">
                <label for="email">Email</label>
                <div class="form_input-err-msg"></div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="pwd" >
                <label for="pwd">Password</label>
                <div class="form_input-err-msg"></div>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="cpwd" >
                <label for="cpwd">Confirm Password</label>
            </div>                
            <button class="btn mb-2" type="submit">Continue</button>
            
            <p class="form-text ">
                <a class="form-link" href="#" id="linkLogin">Already have an account? Signin</a>
            </p>

        </form>
    </div>
</div>

{% endblock  %}

{% block script %}
<script>
function setFormMsg(element, type,msg){
    const message=element.querySelector(".form-msg")
    message.textContent=msg;
    
    msg.classList.remove("form-msg-err","form-msg-success");
    msg.classList.add( `form-msg-${type}`)
}


document.addEventListener("DOMContentLoaded", () => {
    const login = document.querySelector("#login");
    const register = document.querySelector("#register");
    
    document.querySelector("#linkCreateAccount").addEventListener('click',() => {
        login.classList.add("form-hidden");
        register.classList.remove("form-hidden");
    });

    document.querySelector("#linkLogin").addEventListener("click", ()=> {
        
        login.classList.remove("form-hidden");
        register.classList.add("form-hidden");
    });

    //invalid credentials
    login.addEventListener("submit", ()=> {
        setFormMsg(login, "err", "Invalid username/password combination");
    });

    document.querySelector(".register").addEventListener('click',() => {
        login.classList.add("form-hidden");
        register.classList.remove("form-hidden");
        document.querySelector(".register").classList.add("active")
    });

    document.querySelector(".login").addEventListener("click", ()=> {
        
        login.classList.remove("form-hidden");
        register.classList.add("form-hidden");
        document.querySelector(".login").classList.add("active")
    });


})


</script>
{% endblock  %}
